{% extends "base.html" %}
{% block body %}

<div class="row featurette">
    
  <div class="col-md-7 order-md-2" style="color: aliceblue; padding-right: 5%; text-align: justify; ">
    <br>
    <br>
    <h1 class="featurette-heading fw-normal lh-1">Our Vision</h1>
    <br>
    <p class="data" >Our vision at Bots for Your Dots is to leverage cutting-edge AI and NLP (Natural Language Processing) 
      technologies to provide comprehensive and accessible counseling services to people in need. We aim 
      to develop a range of chatbots tailored to various aspects of counseling to address different 
      challenges individuals may face. Our primary focus areas are:
      <ol><li>Domestic Violence Reporting: We will create a sensitive and empathetic chatbot that allows 
        individuals to safely and discreetly report incidents of domestic violence. The bot will guide them 
        through the reporting process, connecting them with relevant authorities or support organizations.</li><li>
        Mental Health Counseling: Our chatbot will act as a supportive mental health companion, offering 
        a safe space for individuals to express their feelings and concerns. It will provide personalized 
        guidance, coping strategies, and suggest seeking professional help when necessary.
      </li><li> Career Counseling: The career counseling chatbot will help users explore their skills, interests, and 
        aspirations to provide personalized career guidance. It will offer information on various career paths, 
        educational opportunities, and resources for skill development.
      </li><li> Emergency Contacts: We will integrate an emergency contact feature into our chatbot, allowing 
        users to quickly access important contacts like helplines, crisis centers, or local emergency services in 
        times of distress.
      </li><li> Customized Personal Healthcare Companion: Our aim is to develop an AI-powered healthcare 
        companion that assists individuals in managing their personal health. It will remind users of 
        medication schedules, offer healthy lifestyle tips, and provide basic medical information.</li></ol>
      Our commitment is to ensure that our chatbots maintain a user-friendly and inclusive design, 
      keeping user privacy and data security as top priorities. By combining AI and NLP technologies with a 
      human touch, we aspire to make counseling services more accessible, immediate, and 
      compassionate for everyone, addressing a wide range of personal and emotional needs.
      </p>
  </div>
  <div class="col-md-5 order-md-1">
    <br>
    <br>
    <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none"><img  
       src="{{url_for('static', filename='about.jpg')}}"  style="border: 2px solid black ; margin-left: 10%; "></a>
  </div>
  
</div>

<br>
<br>

<div class="teamhead"><h1>Our Team</h1></div>

<br>
<br>

<div class="team" >
  <div class="team-member">
    <img src="https://i.imgur.com/1.jpg" alt="Team Member 1">
    <h3>Prateek</h3>  
  </div>
  <div class="team-member">
  <img src="https://i.imgur.com/2.jpg" alt="Team Member 2">
    <h3>Kshitij Singh</h3>  
  </div>
  <div class="team-member">
    <img src="https://i.imgur.com/3.jpg" alt="Team Member 3">
    <h3>Tanisha</h3>  
  </div>
  <div class="team-member">
    <img src="https://i.imgur.com/4.jpg" alt="Team Member 4">
    <h3>Rashmi Soni</h3>
  </div>
</div>
{% endblock %}