{% extends "layout.html" %}
{% block body %}
<br>
<br>
<section class="contact-category">
    <h2>Career Counseling</h2>
    <ul>
        <li><strong>Name:</strong> Elysian </li>
        <li><strong>Phone:</strong> <a href="tel:7299932010">7299932010</a> </li>
    </ul>
</section>

<section class="contact-category">
    <h2>Mental Health Counseling</h2>
    <ul>
        <li><strong>Name:</strong> Kiran </li>
        <li><strong>Phone:</strong> 1800-599-0019(TollFree)</li>
        
    </ul>
</section>

<section class="contact-category">
    <h2>Domestic Violence</h2>
    <ul>
        <li><strong>Name:</strong> Asks Helpline </li>
        <li><strong>Phone:</strong> 8793088814 or 8793088815 or 8793088816</li>
    </ul>
</section>
{% endblock %}