{% extends "base.html" %}
{% block body %}

<div class="faq-text">
    <h1 style="text-align: center;"><u>Frequently Asked Questions</u></h1>
    <br>
    <br>
    <div class="question">
        <p>Q: What is the purpose of this FAQ page?</p>
    </div>
    <div class="answer">
        <p>A: The purpose of this FAQ page is to provide answers to common questions about our services.</p>
    </div>

    <div class="question">
        <p>Q: Where is the Chatbot?</p>
    </div>
    <div class="answer">
        <p>A: First Signup to access Chatbot, this is for the protection of everyone's privacy.</p>
    </div>

    <div class="question">
        <p>Q: Is there any age limit to signup?</p>
    </div>
    <div class="answer">
        <p>A: No, you could be from any age group.</p>
    </div>

    <div class="question">
        <p>Q: Can I Signup through e-mail?</p>
    </div>
    <div class="answer">
        <p>A: yes,you can signup by e-mail, facebook or by registering yourself. </p>
    </div>

    <div class="question">
        <p>Q: What if I am not satisfied?</p>
    </div>
    <div class="answer">
        <p>A: You can provide your valueable feedback at ibm2023sb00311@smartinternz.com , we will try to improve.</p>
    </div>


</div>

{% endblock %}