{% extends "layout.html" %}
{% block body %}
<br>
<div class="teamhead"><h1>Career Counselling</h1></div>
<br>
<div id="carouselExampleControls" class="carousel carousel-dark slide cl" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="card-wrapper container-sm d-flex  justify-content-around">
        <div class="card  " style="width: 18rem;">
          <iframe src="https://www.youtube.com/embed/yjtgy-_xR9o" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>  
    <div class="card-body">
      <h5 class="card-title">What Is Career Counselling</h5>
      
    </div>
  </div><div class="card" style="width: 18rem;">
    <iframe src="https://www.youtube.com/embed/1gUFidP4M8Q" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    <div class="card-body">
      <h5 class="card-title">Which Stream To Choose After 10<sup>th</sup></h5>
      
    </div>
          </div>
          <div class="card" style="width: 18rem;">
            <iframe src="https://www.youtube.com/embed/ecdMFC2Ogik" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    <div class="card-body">
      <h5 class="card-title">How To Choose Career After 12<sup>th</sup></h5>
      
    </div>
  </div>
  </div>
      </div>
      <div class="carousel-item">
        <div class="card-wrapper container-sm d-flex   justify-content-around">
        <div class="card  " style="width: 18rem;">
          <iframe src="https://www.youtube.com/embed/_sbvbDy2Xe8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>   
    <div class="card-body">
      <h5 class="card-title">40 Job Opportunities</h5>
      
    </div>
  </div><div class="card" style="width: 18rem;">
    <iframe src="https://www.youtube.com/embed/3iWSxamM5pg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>>
    <div class="card-body">
      <h5 class="card-title">Complete Career Counselling</h5>
      
    </div>
          </div>
          <div class="card" style="width: 18rem;">
            <iframe src="https://www.youtube.com/embed/ZaHCU6zq4oI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    <div class="card-body">
      <h5 class="card-title">Career Counselling by Dear sir</h5>
      
    </div>
  </div>
      </div>
      </div>
      <div class="carousel-item">
        <div class="card-wrapper container-sm d-flex  justify-content-around">
        <div class="card " style="width: 18rem;">
          <iframe src="https://www.youtube.com/embed/h-NjW4Wupzs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    <div class="card-body">
      <h5 class="card-title">How To Choose Right Career Path</h5>
      
    </div>
  </div>
          <div class="card" style="width: 18rem;">
            <iframe src="https://www.youtube.com/embed/4e6KSaCxcHs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>      
    <div class="card-body">
      <h5 class="card-title">The Psychology Of Career Decisions</h5>
      
    </div>
          </div>
          <div class="card" style="width: 18rem;">
            <iframe src="https://www.youtube.com/embed/qi4sgAVPAyc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    <div class="card-body">
      <h5 class="card-title">The trinity of Career Counselling</h5>
      
    </div>
  </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <br>
<div class="teamhead"><h1>Mental Health Counselling</h1></div>
<br>
<div id="carouselExampleControls" class="carousel carousel-dark slide cl" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="card-wrapper container-sm d-flex  justify-content-around">
        <div class="card  " style="width: 18rem;">
          <iframe src="https://www.youtube.com/embed/UpsQX4nxZUI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    <div class="card-body">
      <h5 class="card-title">What Is Mental Health Counselling</h5>
      
    </div>
  </div><div class="card" style="width: 18rem;">
    <iframe src="https://www.youtube.com/embed/rkZl2gsLUp4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    <div class="card-body">
      <h5 class="card-title">How To Manage Your Mental Health</h5>
      
    </div>
          </div>
          <div class="card" style="width: 18rem;">
            <iframe src="https://www.youtube.com/embed/GqaHQeW7GrA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    <div class="card-body">
      <h5 class="card-title">Hack Your Happiness</h5>
      
    </div>
  </div>
  </div>
      </div>
      <div class="carousel-item">
        <div class="card-wrapper container-sm d-flex   justify-content-around">
        <div class="card  " style="width: 18rem;">
          <iframe src="https://www.youtube.com/embed/VgdAcENXy84" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>   
    <div class="card-body">
      <h5 class="card-title">Sound Therapy</h5>
      
    </div>
  </div><div class="card" style="width: 18rem;">
    <iframe src="https://www.youtube.com/embed/gS-p4Piggy8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    <div class="card-body">
      <h5 class="card-title">Mental Health For All, by All</h5>
      
    </div>
          </div>
          <div class="card" style="width: 18rem;">
            <iframe src="https://www.youtube.com/embed/vo_lZiytsMw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    <div class="card-body">
      <h5 class="card-title">Change Your Mindset and Achieve Anything</h5>
      
    </div>
  </div>
      </div>
      </div>
      <div class="carousel-item">
        <div class="card-wrapper container-sm d-flex  justify-content-around">
        <div class="card " style="width: 18rem;">
          <iframe src="https://www.youtube.com/embed/NQcYZplTXnQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    <div class="card-body">
      <h5 class="card-title">Mental Health Wellness Tips</h5>
      
    </div>
  </div>
          <div class="card" style="width: 18rem;">
            <iframe src="https://www.youtube.com/embed/AOHT-YiOeQA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>      
    <div class="card-body">
      <h5 class="card-title">Atomic Habits for Good Mental Health</h5>
      
    </div>
          </div>
          <div class="card" style="width: 18rem;">
            <iframe src="https://www.youtube.com/embed/TVgQ_tgWMyU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    <div class="card-body">
      <h5 class="card-title">How to Recover from Anxiety and Stress</h5>
      
    </div>
  </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <br>
<div class="teamhead"><h1>Domestic Violence</h1></div>
<br>
<div id="carouselExampleControls" class="carousel carousel-dark slide cl" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="card-wrapper container-sm d-flex  justify-content-around">
        <div class="card  " style="width: 18rem;">
          <iframe src="https://www.youtube.com/embed/zuN1wlwQLEA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    <div class="card-body">
      <h5 class="card-title">What Is Domestic Violence?</h5>
      
    </div>
  </div><div class="card" style="width: 18rem;">
    <iframe src="https://www.youtube.com/embed/rJMPCITjHfI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    <div class="card-body">
      <h5 class="card-title">Domestic Violence Act 2005</h5>
      
    </div>
          </div>
          <div class="card" style="width: 18rem;">
            <iframe src="https://www.youtube.com/embed/iDC3hoDNUu8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    <div class="card-body">
      <h5 class="card-title">Why Do Indians Normalize Domestic Violence?</h5>
      
    </div>
  </div>
  </div>
      </div>
      <div class="carousel-item">
        <div class="card-wrapper container-sm d-flex   justify-content-around">
        <div class="card  " style="width: 18rem;">
          <iframe src="https://www.youtube.com/embed/frFEdN7aMh8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    <div class="card-body">
      <h5 class="card-title">A Real Life Story</h5>
      
    </div>
  </div><div class="card" style="width: 18rem;">
    <iframe src="https://www.youtube.com/embed/SUPwl1GqgJM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    <div class="card-body">
      <h5 class="card-title">Muffled Voices</h5>
      
    </div>
          </div>
          <div class="card" style="width: 18rem;">
            <iframe src="https://www.youtube.com/embed/8vdtgmnlhEI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    <div class="card-body">
      <h5 class="card-title">I Am The Survivor Of Domestic Violence</h5>
      
    </div>
  </div>
      </div>
      </div>
      <div class="carousel-item">
        <div class="card-wrapper container-sm d-flex  justify-content-around">
        <div class="card " style="width: 18rem;">
          <iframe src="https://www.youtube.com/embed/7mo4BSfkzGo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    <div class="card-body">
      <h5 class="card-title">How To Stop Domestic Violence</h5>
      
    </div>
  </div>
          <div class="card" style="width: 18rem;">
            <iframe src="https://www.youtube.com/embed/lTqvy1N9RWA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>     
    <div class="card-body">
      <h5 class="card-title">How To File Complaint</h5>
      
    </div>
          </div>
          <div class="card" style="width: 18rem;">
            <iframe src="https://www.youtube.com/embed/ythOTBEkUZM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    <div class="card-body">
      <h5 class="card-title">Unmasking The Abuser</h5>
      
    </div>
  </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
{% endblock %}